body {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./cloud.png');
    background-size: cover;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: 5440px;
    }
}