html
{
    box-sizing: border-box;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

html, body
{
    height: 100%;
}

body
{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(30deg, #182c51, #09101e);
    align-items: center;
    overflow: hidden;
}

.moon
{
    background-image: linear-gradient(30deg, #13223f, #0e1a30);
    width: 256px;
    height: 256px;
    border-radius: 50%;
    position: relative;
}

.moon::before
{
    content: '';
    background-color: #C7938B;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 3.2s crescent linear infinite alternate;
}

@keyframes crescent
{
    0% {
        transform: translate(-30px, 30px) scale(0.9);
        box-shadow: none;
    }
    50% {
        transform: translate(0px, 0px) scale(1.02);
        box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #C7938B;
        background-color: #efdbd8;
    }
    100% {
        transform: translate(30px, -30px) scale(0.9);
        box-shadow: none;
    }
}